# Environment & Local configuration
.env
.env.local

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.idea/
*.sublime-project
*.sublime-workspace

# Temporary logs & caches
*.log
scratch/
tmp/

# Uploaded assets
uploads/*/*
!uploads/**/.gitkeep
!uploads/**/sample_*
!uploads/.gitkeep
